* {
    font-family: "Press Start 2P", system-ui;
}

body {
    background-color: black;
}

h1 {
    margin: 0px;
}

button {
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ddd;
}

#overlappingDiv {
    background-color: black; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10
}

.attackTypeContainer {
    margin-left: 4px;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-top: 8px solid #7873a2;
    border-bottom: 8px solid #7873a2;
    border-left: 8px solid #7873a2;
    border-right: 8px solid #7873a2;
    border-radius: 10px;        
}

.attackBoxContainer{
    background-color: #2a3134;
    height: 154px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 4px #2a3134 solid;
    border-bottom: 4px #2a3134 solid;
    border-left: 4px #2a3134 solid;
    border-right: 4px #2a3134 solid;
    display: flex;
}

.attackSelectionContainer{
    width: 70%;
    background-color: #f8f8f8;
    border-top: 8px solid #7873a2;
    border-bottom: 8px solid #7873a2;
    border-left: 8px solid #7873a2;
    border-right: 8px solid #7873a2;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.attackTypeText{
    font-size: 16px;
}

.healthBar {
    background-color: #fffee9; 
    position: absolute;
    width: 318px; 
    /* height: 90px;  */
    border: 4px #2a3134 solid;
    border-radius: 10px;
    padding: 12px;
}

.healthBarOposingPokemon{
    top: 50px;
    left: 50px;
}

.healthBarFriendPokemon{
    top: 300px;
    left: 625px;
} 

.healthBarHP{
    height: 15px; 
    border: 1px white solid;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.healthBarInfo{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.healthBarInfoLeftGroup{
    display: flex;
    align-items: center; 
}

.healthBarHPGreen{            
    background-color: #7cedba;
    position: absolute;
}

.healthBarHPDifference{
    background-color: #ccc; 
    margin-top: 10px;
}

.healthBarHPNumber{
    position: relative; 
    margin-top: 10px; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.genderImage{
    width: 16px;
    margin-left: 4px;
}

.dialogBoxClass {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding : 25px;
    display: none;
    background-color: #f8f8f8;
    border-top: 8px solid #7873a2;
    border-bottom: 8px solid #7873a2;
    border-left: 8px solid #7873a2;
    border-right: 8px solid #7873a2;
    border-radius: 10px;
}